<body class="text-center">
  <div class="main">
    <div class="inner">
      <div class="form__wrapper">      
        <img class="mb-4" src="/assets/protein-icon.png" alt="" width="150" height="150">
        <h1 class="h3 mb-3 font-weight-normal">Please sign in</h1> 

          <%= form_with model: @user, url: user_registration_path, local: true do |f| %>


          <div class="field">
            <%= f.text_field :nickname,placeholder:"nickname" %>
          </div>

          <div class="field">
            <%= f.email_field :email, autofocus: true, autocomplete: "email",placeholder:"email" %>
          </div>

          <div class="field">
            <%= f.password_field :password, autocomplete: "new-password",placeholder:"password" %>
          </div>

          <div class="field">
            <%= f.password_field :password_confirmation, autocomplete: "new-password",placeholder:"password_confirmation" %>
          </div>

        
          <div class="field">
            <%= f.text_field :my_protein, class: :form__text,placeholder:"my_protein" %>
          </div> 

          <div class="field">
            <%= f.text_area :profile, class: :form__text,placeholder:"profile" %>
          </div>

        


          <div class="actions">
            <%= f.submit "sign in", class: :form__btn  %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</body>