
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <%= link_to "Info-Protein", root_path, class:"navbar-brand" %>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <% if user_signed_in? %>   
        <li class="nav-item active">          
          <%= link_to current_user.nickname, "#", class: "nav-link", id: "js-nickname" %>
        </li>
        <li class="nav-item">
          <%= link_to 'logout', destroy_user_session_path, method: :delete, class: "nav-link" %>
        </li>
        <% else %>
        <li class="nav-item active">          
          <%= link_to 'login', new_user_session_path, class: "nav-link" %>
        <li class="nav-item">
          <%= link_to 'signup', new_user_registration_path, class: "nav-link" %>
        </li>

        <% end %>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Makers
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <%= link_to "ZAVAS", "https://www.meiji.co.jp/sports/savas/",class:"dropdown-item" %>
            <%= link_to "GOLD'S GYM", "https://www.goldsgym.jp/topics/657",class:"dropdown-item" %>
            <%= link_to "myprotein", "https://www.myprotein.jp/",class:"dropdown-item" %>
            <%= link_to "dns", "https://shop.dnszone.jp/home",class:"dropdown-item" %>
            <%= link_to "weider", "https://www.weider-jp.com/",class:"dropdown-item" %>
            <%= link_to "belegend", "https://belegend.jp",class:"dropdown-item" %>
            <%= link_to "optimumnutrition", "https://www.optimumnutrition.jp/",class:"dropdown-item" %>
            <%= link_to "kentai", "https://kentai.co.jp/",class:"dropdown-item" %>
            <%= link_to "grong", "https://grong.jp/",class:"dropdown-item" %>
            <%= link_to "alpron", "https://alpron.co.jp/",class:"dropdown-item" %>
            <%= link_to "ultora", "https://ultora.co.jp/",class:"dropdown-item" %>
            <%= link_to "muscletech", "https://www.muscletech-japan.com/",class:"dropdown-item" %>

            <div class="dropdown-divider"></div>
            <%= link_to "Let's talk!", work_outs_index_path, class: "dropdown-item"%>
          </div>
        </li>
      </ul>
      <%# <form class="form-inline my-2 my-lg-0">
        <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-info" type="submit">Search</button>
      </form> %>
    </div>
  </nav>
