<%= render "shared/header" %>

  <div class="jumbo-workout-head">
    <div class="jumbo-content">
      <h1 class="display-4">Let's get started!</h1>
      <p class="lead">筋トレに関することなら何でも話しましょう！</p>
      <%= link_to 'Make a room',  new_workout_room_path, class: "btn btn-lg btn-primary" %>
    </div>
  </div>

  <div class="wrapper">
    <%= render "shared/sidebar" %>
    <%= render "shared/chat" %>
  </div>

<%= render "shared/footer" %>