<%= render "shared/header" %>
<%= render "shared/jumbo" %>
  

  <div class="wrapper">
    <div class="side-bar">
          <div class="side-bar-header">
            <div class="side-bar-header-name">
            <i class="fas fa-dumbbell faa-ring animated"></i>
            <%= @workout_room.name %>
            </div>
          </div>
      <div class="rooms">
          <% @workoutroom.each do |room| %>
          <div class="room">
            <div class="room-name">
              <%= link_to room.name, workout_room_workout_messages_path(room) %>
            </div>
          </div>
          <% end %>
      </div>
    </div>
    <div class="chat">   
        <div class="chat-header"> 
          <%= form_with model: [@workout_room, @workout_message], method: :post, id: "formmm", class: 'form', local: true do |f| %>
          
          <div class="form-input">
            
            <label i class="fas fa-camera-retro faa-tada animated-hover "></i>
              <%= f.file_field :image, class: 'hidden', id: 'message-image' %>
            </label>
            
            <div id="image-list"></div>
            <%= f.text_field :content, class: 'form-message', placeholder: 'type a message', id: "contenttt" %>
            <%=  button_tag type: 'submit', id: "submittt", class: 'fas fa-paper-plane faa-wrench animated-hover' do %>            
            <% end %>
            <% end %>
          </div>
             

          <div class="right-header">
            <div class="header-button">
              <%= link_to workout_room_path(@workout_room), :method => :delete do %>
              <i class="fas fa-bomb fa-3x faa-pulse animated"></i> 
              <% end %>

            </div>  
          </div> 
        </div> 
       
         <%= render partial: 'shared/message', collection: @workout_messages %>
        
      <div class="kaminari-wrap">
        <div class="kaminari">
        <%= paginate @workout_messages %>
      </div>
      </div>
    </div>
    

  </div>


<%# footer %>
<nav class="navbar fixed-bottom navbar-expand-sm navbar-dark bg-dark">
  <a class="navbar-brand" href="#">TOP</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarCollapse">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <%= link_to "前のページへ", work_outs_index_path %>
      </li>
    </ul>
  </div>
</nav>