<%= render "shared/header" %>

  <div class="jumbo-workout-head">
  <div class="jumbo-content">
    <h1 class="display-4">Let's get started!</h1>
    <p class="lead">筋トレに関することなら何でも話しましょう！</p>
    <%= link_to 'Make a room',  new_workout_room_path, class: "btn btn-lg btn-primary" %>
    </div>
  </div>

  <div class="wrapper">
    <div class="side-bar">
          <div class="side-bar-header">
            <div class="side-bar-header-name">
            <i class="fas fa-cat faa-ring animated"></i>
            <%= @workout_room.name %>
            </div>
          </div>
      <div class="rooms">
          <% @workoutroom.each do |room| %>
          <div class="room">
            <div class="room-name">
              <%= link_to room.name, workout_room_workout_messages_path(room) %>
            </div>
          </div>
          <% end %>
      </div>
    </div>
    <div class="chat">   
        <div class="chat-header"> 
          <%= form_with model: [@workout_room, @workout_message], method: :post, id: "form", class: 'form', local: true do |f| %>
          
          <div class="form-input">
            <label i class="fas fa-camera-retro faa-float animated"></i>
              <%= f.file_field :image, class: 'hidden' %>
            </label>
            <%= f.text_field :content, class: 'form-message', placeholder: 'type a message' %>
            <%=  button_tag type: 'submit', id: "submit", class: 'fas fa-paper-plane faa-wrench animated' do %>            
            <% end %>
            <% end %>
          </div>
            <div id="list">
            </div>            

          <div class="right-header">
            <div class="header-button">
              <%= link_to workout_room_path(@workout_room), :method => :delete do %>
              <i class="fas fa-bomb fa-3x faa-pulse animated"></i> 
              <% end %>

            </div>  
          </div> 
        </div> 
      <%= render partial: 'shared/message', collection: @workout_messages %>
    </div>
  </div>


